*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: orange;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 30;
    
}
header,main{
    max-width: 1200px;
    margin: 0 auto;
    
   
}
section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}
.logo-boolean{
    height: 30px;
    
}

.display-flex{
    display: flex;
}
.suggerimenti,a{
    color: white;
    padding: 3px;
}

.sezione-due{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
img{
    height: 400px;
    width: 300px;
}
.red{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 0;
}
.green{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 30px;
}
.cuore{
    background-color: white;
    position: absolute;
    right: 0;
    top: 5%;
    padding: 5px;
}
.blocchi{
    position: relative;
    margin: 5px;
}

.immagine-sfondo{
    display: block;
}
.immagine:hover{
    display: none;
}
