*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: orange;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 30;
    
}
/* img{
    width: 200px;
    height: 300px;
} */
header,footer{
    max-width: 1200px;
    margin: 0 auto;
    
   
}
section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}
.logo-boolean{
    height: 30px;
    width: auto;

    
}

.display-flex{
    display: flex;
}
.suggerimenti,a{
    color: white;
    padding: 3px;
}
/* img{
    height: 400px;
    width: 300px;
} */

.sezione-due{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    


}
img{
    height: 300px;
    width: 200px;
}
main{
    padding: 100px;
}
.flex{
    display: flex;
    justify-content: center;
}


.red{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 0;
}
.green{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 30px;
}
.cuore{
    background-color: white;
    position: absolute;
    right: 0;
    top: 5%;
    padding: 5px;
}
.blocchi{
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.contenitore2{
    background-color: black;
    min-height: 70px;
    width: 100%;
}
footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.immagine-sfondo{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.immagine-sfondo{
    display: none;
}
.blocchi:hover .immagine{
    display: none;
}
